body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Menú vertical */
.menu {
    width: 200px;
    background-color: darkturquoise;
    padding-left: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    height: 100vh;
}

.menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.menu a:hover {
    background-color: paleturquoise;
}

.menu a.selected {
    background-color: white;
    color: darkturquoise;
    font-weight: 700;
    padding-left: 10px;
}

/* Cabecera */
.header {
    background-color: white;
    padding: 0 20px;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
}

.header button {
    background-color: darkturquoise;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
}

.header button.back {
    background-color: red;
}

.card {
    padding: 20px;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.card h1 {
    margin: 0;
}